@media (max-width:992px){
  .blog{
    margin-left: 20px;
    width: 90%;
    height: 550px;
    grid-template-columns:repeat(2,minmax(0,1fr)) !important;
  }
  h3{
    padding: 10px 5px;
    margin-top: 20px;
  }
  p{
    padding: 20px 10px;
  }
}